<md-whiteframe class="md-whiteframe-1dp" layout="column" flex layout-align="center center">
    <md-toolbar flex>
        <h2 class="md-toolbar-tools">
            <span>Add user form</span>
        </h2>
    </md-toolbar>
    <form name="userForm" layout="column" flex novalidate>
        <md-input-container class="inputField">
            <label style="padding-left: 20px; padding-right: 20px">Full name</label>
            <input name="name" type="text" ng-model="user.fullName" required maxlength="30">
            <div ng-messages="userForm.email.$error && userForm.email.$dirty">
                <div ng-message="required" ng-if="userForm.name.$error.required && userForm.name.$touched">Full name is required.</div>
                <div ng-message="maxlength" ng-if="userForm.name.$error.maxlength && userForm.name.$touched">The full name has to be less than 30 characters long.</div>
            </div>
        </md-input-container>
        <md-input-container class="inputField">
            <label style="padding-left: 20px; padding-right: 20px">Email</label>
            <input name="email" type="text" ng-model="user.email" required maxlength="30" ng-pattern="emailValidation">
            <div ng-messages="userForm.email.$error && userForm.email.$dirty">
                <div ng-message="required" ng-if="userForm.email.$error.required && userForm.email.$touched">Email is required.</div>
                <div ng-message="ng-pattern" ng-if="userForm.email.$error.pattern && userForm.email.$touched">Valid email address is required.</div>
                <div ng-message="maxlength" ng-if="userForm.email.$error.maxlength && userForm.email.$touched">Email has to be less than 30 characters long.</div>
            </div>
        </md-input-container>
        <md-input-container class="inputField">
            <label style="padding-left: 20px; padding-right: 20px">Address</label>
            <input name="address" type="text" ng-model="user.address" required maxlength="50">
            <div ng-messages="userForm.address.$error && userForm.address.$dirty">
                <div ng-message="required" ng-if="userForm.address.$error.required && userForm.address.$touched">Address is required.</div>
                <div ng-message="maxlength" ng-if="userForm.address.$error.maxlength && userForm.address.$touched">Address has to be less than 50 characters long.</div>
            </div>
        </md-input-container>
        <md-input-container class="inputField">
            <label style="padding-left: 20px; padding-right: 20px">Country:</label>
            <md-select name="country" ng-model="user.country" required>
                <md-option ng-value="country" ng-repeat="country in countries">{{country}}</md-option>
            </md-select>
            <div ng-messages="userForm.country.$error && userForm.country.$dirty">
                <div ng-message="required" ng-if="userForm.country.$error.required && userForm.country.$touched">Country is required.</div></div>
            </div>
        </md-input-container>
        <md-button class="md-primary md-raised subbmit" ng-click="onSubmit(userForm)" aria-label="Add new user" ng-disabled="userForm.$invalid" layout="row" layout-align="center center">
            <span ng-if="!submiting">Submit</span>
            <md-progress-circular md-diameter="20" ng-if="submiting" class="md-accent md-hue-1"></md-progress-circular>
        </md-button>
    </form>

</md-whiteframe>

