[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.container {
    max-width: 900px;
    margin: auto;
}
.search {
    position: relative;
}
.iconSearchFocused {
    position: absolute;
    fill: rgb(63, 81, 181);
    right: 2px;
    bottom: 2px
}
.iconSearch {
    position: absolute;
    left: 140px;
    bottom: 2px;
    fill: #9B9B9B
}
.inputField {
    padding-left: 20px;
    padding-right: 20px;
}
.subbmit {
    width: 300px;
    height: 40px;
}
.counter {
    width: 50px;
    margin-left: 10px;
}